/**小标题前面的小方块标识*/
.org-blue-icon{
    position: relative;
    margin-left: 12px;
}
.org-blue-icon:before{
    content: "";
    width: 6px;
    height: 75%;
    position: absolute;
    left: -14px;
    top: 15%;
    background: #009DE5;
}
